th{
    font-weight: 900;
    color: darkturquoise;
    font-family: fantasy;
    background-color: darkcyan;
}

td{
    font-family: monospace;
    font-weight: 700;
    list-style-type: square;
    background-color: azure;
}

table{
    border-collapse: collapse;
    border-width: thick;
    border-color: darkcyan;
    border-style: solid;
}
