th{
    font-weight: 900;
    color: darkturquoise;
    font-family: fantasy;
    background-color: darkcyan;
}

td{
    font-family: monospace;
    font-weight: 700;
    list-style-type: square;
    background-color: azure;
}

table{
    border-collapse: collapse;
    border-width: thick;
    border-color: darkcyan;
    border-style: solid;
}

#menu-bar a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
    font-weight: 800;
    
    background-image: url('Images/image-buttons/menu-button.gif');
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 25px;
    padding-left: 18px;
    padding-top: 4px;
    
    float: left;
}

#menu-bar a:hover{
    background-color: aqua;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    
    background-image: url('Images/image-buttons/menu-button-hover.gif');
}

p{
    font-family: fantasy;
    font-weight: 900;
}

h1{
    font-family: fantasy;
    color: darkcyan;
    font-weight: 900;
}